# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

theme switcher 
  const [theme, setTheme] = useState('dark')

  useEffect(() => {
    if (theme === 'dark') {
      document.querySelector('body').classList.add('dark')
    } else {
      document.querySelector('body').classList.remove('dark')
    }
  }, [theme])
  console.log(document.documentElement)

  const handleTheme = () => {
    setTheme(theme == 'light' ? 'dark' : 'light')
  }


    <div className='w-full h-screen grid place-items-center bg-slate-50 dark:bg-black'>
      <button onClick={handleTheme} className='bg-white text-xl px-3 py-2'>
        {' '}
        Click{' '}
      </button>
    </div>